.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgba(112, 104, 104, 0.8);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
    background-color: rgba(163, 145, 145, 0.86); 
    border-radius: 10px;
    padding: 20px;
}

.app-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 20px;
} 

.form-control, .form-select, .select option {
    background-color: transparent !important;
    color: #FFFF00 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

select option {
  color: white;
  background-color: black;
  font-size: 20px;
}

.btn-success, .btn-danger, .btn-primary, .btn-warning {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #FFFF00 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}


h1, h2, h4, a {
    color: #FFFF00 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

h3 {
    color: #18bb6a !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}